body {
    display: flex;
}

form {
    width: 500px;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
}

form div {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}

.main {
    flex: 1;
}